<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <strong>Aradığınız sayfaya ulaşamadık..!@ViewBag.ErrorPath</strong> 
    <p>Lütfen doğru yolda olduğunuzdan emin olunuz.</p>
    <a asp-action="Index" asp-controller="Home" >Ana Sayfaya Geri Dön</a>
</div>