<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bayraktarlar İzin Takip Yazılımı</title>
</head>


<link rel="stylesheet" href="~/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/47d1eb1f46.js" crossorigin="anonymous"></script>
@RenderSection("css",false)

<body>
<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white">Bayraktarlar İzin Sistemi</a>

  </div>
</nav>
    <!--Container Main start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mx-auto" style="margin-top:5rem;">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/customscript.js"></script>
    <script src="~/jquery/jquery.min.js"></script>
    @RenderSection("jquery",false)
    @RenderSection("Javascript",false)
</body>

</html>